{% extends "_base.html" %}

{% block content %}


<div id="audio"></div>

<head>
    <canvas id="gameCanvas" width="640" height="640" style="border:1px solid #000000;"></canvas>
    <script type="text/javascript" src="{{ url_for('static', filename='out.js') }}"></script>
</head>

<div class="text-center">
  <h1>Welcome!</h1>
</div>

<br>

<form action="/learn" method="POST">
  <div class="form-group">
    <input name="areaName" class="form-control input-lg" type="text" placeholder="Enter in a new area" required>
  </div>
  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Enter">
</form>

<br>
<hr>

<div>
  {% for area in areas %}
    <h4 class="well"><strong>{{area.name}}</strong> - <em>{{area.date_posted.strftime('%Y-%m-%d')}}</em></h4>
  {% endfor %}
</div>

{% endblock %}
